<section class="tr-page-container">
	<h3>Login to Trip on</h3>

	<form class="tr-form tr-login-form">
		<div class="tr-form-group">
			<input class="tr-form-control" ng-model="::username" placeholder="Username or Email" />
		</div>
		<div class="tr-form-group">
			<input class="tr-form-control" ng-model="::password" type="password" placeholder="Password" />
		</div>
		<div class="tr-form-group">
			<button class="tr-btn tr-btn-block" ng-click="login(username, password)">Login</button>
		</div>
	</form>
	<section>Or Social Networks</section>
	<section class="tr-social">
		<div class="tr-social-group">
			<button class="tr-btn tr-btn-block tr-facebook">Facebook</button>
		</div>
		<div class="tr-social-group">
			<button class="tr-btn tr-btn-block tr-twitter">Twitter</button>
		</div>
		<div class="tr-social-group">
			<button class="tr-btn tr-btn-block tr-google">Google</button>
		</div>
	</section>
</section> 