<div>
  <div class="title-container">
    <h1 class="big-text">Hi, We are awesome application for tourists</h1>
    <div class="login-buttons">
      <div class="button-section">
        <a href="#" class="link-btn">Log in</a>
      </div>
      <div class="button-section">
        <a href="#/register" class="link-btn">Join us for Free</a>
      </div>
    </div>
  </div>
    <div class="tr-page-container home-page">
      <div class="plans">
        <div class="plan-item" ng-repeat="plan in plans">
          <h3 class="plan-title">{{plan.name}}</h3>
          <div class="plan-price">
            <div class="plan-price">{{plan.price}} $</div>
            <div class="plan-price-descr">
              per month
            </div>
          </div>
          <div class="">
            <a href="#/register?plan={{plan.id}}" type="button" class="join-button" ng-click="joinToPlan(plan)" name="button">
              <i class="icon icon-user-plus"></i>Sign up
            </a>
          </div>
        </div>
      </div>
    </div>
</div>
