.home-page {

  .awesome-trips-video {
    height: 500px;
  }

  .plans {
    display: flex;
    align-content: space-around;
    width: 100%;

    .plan-item {
      width: 250px;
      height: 300px;
      border: 2px solid lightgreen;
      margin-left: 20px;
      text-align: center;

      .plan-title {
        background: #eee;
        height: 50px;
        line-height: 50px;
        font-weight: 600;
        font-size: 20px;
      }

      .plan-price {
        padding: 10px 0;
        padding-top: 25px;
        font-size: 50px;
        color: orange;
      }

      .join-button {
        height: 40px;
        background: #72BB45;
        line-height: 40px;
        border: none;
        display: inline-block;
        font-size: 16px;
        color: #fff;
        padding: 0 15px;
        text-decoration: none;
        cursor: pointer;
        border-radius: 8px;
        outline: none;

        .icon {
          margin-right: 3px;
        }
      }

      .plan-price-descr {
        font-size: 30px;
        color: #999;
      }
    }
  }
}
